.task {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
