.list_container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 15px;
    height: 500px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}
